form.popUpForm(id='addYearForm')
    h1.formTitle Add Year
    .formGroup
        label(for='yearName') Year
        input(type='text', id='yearName')
    button(type='submit') Add Year
    button(type='button').cancelButton Cancel