form.popUpForm(id='inviteUserForm')
    h1.formTitle Invite User
    .formGroup
        label(for='userEmail') Email
        input(type='email', id='userEmail')
    button(type='submit') Invite
    button(type='button').cancelButton Cancel