nav
    h1.companyName #{user.company.name}
    ul
        li.navbarListItem.logoutButton
            a.navbarLink(href="#") Logout
        li.navbarListItem
            a.navbarLink(href="#") Me
        li.navbarListItem
            a.navbarLink(href="#") Home
    
    