//- nav.navbar
//-     a(href="") Home
//-     a(href="") Me
//-     a(href="") Logout

ul.navbar
    li.navbarListItem
        a.navbarLink(href="#") Logout
    li.navbarListItem
        a.navbarLink(href="#") Me
    li.navbarListItem
        a.navbarLink(href="#") Home
    
    