nav
    h1.companyName #{user.company.name}
    ul
        li.navbarListItem.logoutButton
            a.navbarLink(href="#") Logout
        li.navbarListItem
            a.navbarLink(href="#") Me
        if user.role === 'admin'
            li.navbarListItem
                a.navbarLink(href="/admin") Admin
        li.navbarListItem
            a.navbarLink(href="/") Home
    
    