nav
    h1.companyName #{user.company.name}
    ul
        li.navbarListItem
            a.navbarLink(class={activeNav: title === 'Homepage'} href="/") Home
        li.navbarListItem
            a.navbarLink(class={activeNav: title === 'Parts'} href="/parts") Parts
        if user.role === 'admin'
            li.navbarListItem
                a.navbarLink(class={activeNav: title === 'Admin'} href="/admin") Admin
        li.navbarListItem
            a.navbarLink(class={activeNav: title === 'Me'} href="#") Me
        li.navbarListItem.logoutButton
            a.navbarLink(href="#") Logout
        
        
    
    