extends base

block content
    include _navbar
    include _inviteUserForm
    div.pageContentContainer.adminContentContainer
        div.pageContent
            button.inviteUserButton Invite User
            each invitation in invitations
                .invitationCard(id=invitation._id)
                    p #{invitation.email}
                    .buttonContainer
                        button.resenInviteButton Resend Invite
                        button.deleteInviteButton Delete Invite