doctype html
html
    head
        title Accounts | #{title}
        link(rel='stylesheet' href='css/style.css')
        link(rel='stylesheet' href='css/loginStyle.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap' rel='stylesheet')
    body
        block content
        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
        script(type='module' src='/js/index.js')
        
