extends base

block content
    .errorPageContainer
        .errorInfoContainer
            h1.errorCode #{code}
            h1 #{message}
            p here is a picture of a dog instead
            img.dogImage(src='/img/IMG-20221127-WA0004.jpg')