extends base

block content
    .formContainer
        form.loginForm
            h1.formTitle Login
            .formGroup
                label(for='username') username
                input(type='text', id='username')
            .formGroup
                label(for='password') password
                input(type='password', id='password')
            .formGroup
                button(type='submit') Login
            a.loginSignupLink(href='/signup') Sign Up
        