extends base

block content
    .formContainer
        form.signupForm.popUpForm
            .formGroup
            h1.formTitle Sign Up
            p.formMessage
            .formGroup
                label(for='username') email
                input(type='email', id='email')
            .formGroup
                label(for='username') username
                input(type='text', id='username')
            .formGroup
                label(for='password') password
                input(type='password', id='password')
            .formGroup
                button(type='submit') Sign Up
            a.loginSignupLink(href='/login') Login