/* 
212738
#F97068
#D1D646
#EDF2EF
#57C4E5
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "kanit";
}

html,
body,
#root {
  height: 100%;
  font-size: 110%;
}

body {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  padding: 0.75rem;
  font-size: 1.2rem;
  margin: 0.8rem;
  border-radius: 1rem;
  width: 80%;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #212738;
}

/* ALERT STYLES --------------------------------------- */

.alert {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 2rem;
  background-color: #f97068;
}

.active {
  display: flex;
}

/* FORM STYLES --------------------------------------- */

.formContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212738;
  color: #212738;
}

form {
  width: 22rem;
  background-color: #f97068;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
}

.formTitle {
  margin: 0;
}

form input {
  border-radius: 1rem;
  width: 100%;
  border: none;
  background-color: #edf2ef;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}

form label {
  margin: 1rem;
}

form button {
  background-color: #212738;
  color: #edf2ef;
}

form button:hover {
  background-color: #2f374e;
}

.formMessage {
  display: none;
  text-align: center;
}

/* NAVBAR STYLES --------------------------------------- */

nav {
  background-color: #212738;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.companyName {
  color: #edf2ef;
  padding-left: 1rem;
}

.navbarListItem {
  list-style-type: none;
  float: right;
  border-left: 1px solid #212738;
}

.navbarLink {
  display: block;
  padding: 8px;
  background-color: #f97068;
  padding: 14px 16px;
}

.navbarLink:hover {
  background-color: #da605a;
}

/* HOMEPAGE STYLES --------------------------------------- */

.homepageContainer {
  background-color: #edf2ef;
  height: 100%;
}
