/* 
212738
#F97068
#D1D646
#EDF2EF
#57C4E5
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "kanit";
}

html,
body,
#root {
  height: 100%;
  font-size: 110%;
}

body {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  padding: 0.75rem;
  font-size: 1.2rem;
  margin: 0.8rem;
  border-radius: 1rem;
}

a {
  text-decoration: none;
  color: #212738;
}

a:visited {
  text-decoration: none;
  color: #212738;
}

/* ALERT STYLES --------------------------------------- */

.errorPageContainer {
  background-color: #212738;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #edf2ef;
}

.errorCode {
  font-size: 5rem;
}

.dogImage {
  margin-top: 1rem;
  height: 400px;
}

/* ALERT STYLES --------------------------------------- */

.alert {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 2rem;
  background-color: #f97068;
}

.active {
  display: flex;
}

/* FORM STYLES --------------------------------------- */

.formContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212738;
  color: #212738;
}

.popUpForm {
  width: 22rem;
  background-color: #f97068;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
  display: none;
  border: solid 1px #edf2ef;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popUpForm {
  margin: 0;
}

.loginForm,
.signupForm,
.registerForm {
  display: flex;
}

.popUpForm input {
  border-radius: 1rem;
  width: 100%;
  border: none;
  background-color: #edf2ef;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}

.popUpForm label {
  margin: 1rem;
}

.popUpForm button {
  background-color: #212738;
  color: #edf2ef;
  width: 80%;
}

.popUpForm button:hover {
  background-color: #2f374e;
}

.formMessage {
  display: none;
  text-align: center;
}

.showPopUpForm {
  display: flex;
}

.cancelButton {
  margin-top: 0;
}

/* NAVBAR STYLES --------------------------------------- */

nav {
  background-color: #212738;
  display: flex;
  flex-direction: column;
  width: 12rem;
  position: absolute;
  height: 100%;
  align-items: center;
}

nav ul {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.companyName {
  margin-top: 1rem;
  color: #edf2ef;
}

.navbarListItem {
  list-style-type: none;
}

.navbarLink {
  display: inline-block;
  width: 100%;
  padding: 14px 16px;
  color: #edf2ef;
}

.activeNav {
  background-color: #da605a;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navbarLink:visited {
  color: #edf2ef;
}

.navbarLink:hover {
  background-color: #2f374e;
}

/* PAGE CONTAINER STYLES --------------------------------------- */

.pageContentContainer {
  background-color: #465174;
  display: grid;
  height: 100%;
  padding: 1rem;
  margin-left: 12rem;
  overflow-y: scroll;
}

.pageContentCard {
  background-color: #212738;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.pageContentCard button {
  margin-left: auto;
  margin-right: auto;
  background-color: #f97068;
}

.pageContentCard button:hover {
  background-color: #da605a;
}

/* HOMEPAGE STYLES --------------------------------------- */
.homepageContentContainer {
  grid-template-rows: 50% 100% 50% 50%;
  row-gap: 1rem;
}

/* TABLE STYLES --------------------------------------- */

.tableContentCard {
  overflow-y: scroll;
}

.tableContentCard::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.tableContentCard::-webkit-scrollbar {
  width: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #212738;
}

.tableContentCard::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #da605a;
}

.table {
  background-color: #f5f5f5;
  margin: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  overflow-y: scroll;
}

.dataRow:hover {
  cursor: pointer;
  background-color: #da605a;
}

table,
th,
td {
  border: 1px solid #212738;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding: 0.2rem 0;
}

/* ADMIN PAGE STYLES --------------------------------------- */

.adminContentContainer {
  grid-template-columns: 1fr 1fr;
}

.invitationCard {
  background-color: #f97068;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invitationCard p {
  display: inline;
}

.invitationCard button {
  margin: 0;
  background-color: #212738;
  color: #edf2ef;
  margin-left: 0.6rem;
}

.invitationCard button:hover {
  background-color: #2f374e;
}

/* YEAR PAGE STYLES --------------------------------------- */

.yearContentContainer {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 1rem;
  color: #edf2ef;
}

.yearInfoCard {
  grid-column: span 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.yearInfoCard h1 {
  grid-column: span 4;
}

/* PARTS PAGE STYLES --------------------------------------- */

.partsSearch {
  background-color: #f97068;
  border-radius: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
}

.partsSearchButton {
  all: unset;
}
