/* 
212738
#F97068
#D1D646
#EDF2EF
#57C4E5
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "kanit";
}

html,
body,
#root {
  height: 100%;
  font-size: 110%;
}

button {
  border: none;
  padding: 0.75rem;
  font-size: 1.2rem;
  margin: 0.8rem;
  border-radius: 1rem;
  width: 80%;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #212738;
}
